<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Authority</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
    
  <div class="container">
    <div class="row">
        <div class="col">
            {{{body}}}
        </div>
    </div>
  </div>

    <script src="/dist/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
