body{
    min-width: 500px;
}

.swagger-ui .highlight-code {
    overflow: auto;
    width: 300px;
}

@media (min-width: 576px) {
    .swagger-ui .highlight-code {
        width: calc(576px - 250px);
    }
}

@media (min-width: 768px) {
    .swagger-ui .highlight-code {
        width: calc(768px - 250px);
    }
}

@media (min-width: 992px) {
    .swagger-ui .highlight-code {
        width: calc(992px - 250px);
    }
}

@media (min-width: 1200px) {
    .swagger-ui .highlight-code {
        width: calc(1200px - 250px);
    }
}

.swagger-ui .response-col_links{
    width: 0;
    min-width: 0;
    display:none;
}
